<div class="container">
    <div class="contentkalkulator">
        <div class="header">
            <h3>PPB Kalkulator</h3>
            <p>{{now | date:'fullDate'}}</p>
        </div>
        <div class="luastanah">
            <p>Luas Tanah</p>
            <input type="number" [(ngModel)]="lstanah" placeholder="Luas Tanah..">
        </div>
        <div class="luasbangunan">
            <p>Luas Bangunan</p>
            <input type="number" [(ngModel)]="lsbangunan" placeholder="Luas Bangunan..">
        </div>
        <div class="njoptanah">
            <p>NJOP Tanah</p>
            <input type="number" [(ngModel)]="njoptanah" placeholder="NJOP Tanah..">
        </div>
        <div class="njopbangunan">
            <p>NJOP Bangunan</p>
            <input type="number" [(ngModel)]="njopbangunan" placeholder="NJOP Tanah..">
        </div>
        <div class="btnhitung">
            <button class="hitung btn btn-success" (click)="hitungPBB()">Hitung</button>
        </div>
        <div *ngIf="hasil > 0" class="alert alert-primary mt-3" role="alert">
            {{text}}
        </div>
    </div>
</div>

<!-- <div class="container mt-5">
    <div class="row">
        <div class="col md-12 container-pbb">
            <div class="pbb-content">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>PBB Calculator</h2>
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2">Luas Tanah</label>
                            <input type="number" [(ngModel)]="lstanah" placeholder="Luas Tanah..">
                        </div>
                        <div class="from-group">
                            <label class="mb-2">Luas Bangunan</label>
                            <input type="number" [(ngModel)]="lsbangunan" placeholder="Luas Bangunan..">
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2">NJOP Tanah</label>
                            <input type="number" [(ngModel)]="njoptanah" placeholder="NJOP Tanah..">
                        </div>
                        <div class="from-group">
                            <label class="mb-2">NJOP Bangunan</label>
                            <input type="number" [(ngModel)]="njopbangunan" placeholder="NJOP Bangunan..">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->