<div class="containerbawah">
        <div class="containertext">
            <h1>My Portfolio</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eius odio voluptas eveniet necessitatibus officiis quis. Hic culpa sequi tempore alias, mollitia recusandae vero non nisi, molestias possimus impedit sunt? 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga rem atque omnis dignissimos officia nulla ratione esse blanditiis inventore a, laboriosam repellat, quisquam velit iure ab? Labore esse amet consequatur.
            </p>
            <a href="./flexbox.html"><button>Browse All</button></a>
        </div>
        <div class="photo-grid-container">
            <div class="photo-grid">
                <div class="photo-grid-item first-item ">
                    <img src="https://i.picsum.photos/id/119/3264/2176.jpg?hmac=PYRYBOGQhlUm6wS94EkpN8dTIC7-2GniC3pqOt6CpNU" alt="">
                </div>
                <div class="photo-grid-item">
                    <img src="https://i.picsum.photos/id/60/1920/1200.jpg?hmac=fAMNjl4E_sG_WNUjdU39Kald5QAHQMh-_-TsIbbeDNI" alt="">
                </div>
                <div class="photo-grid-item">
                    <img src="https://i.picsum.photos/id/26/4209/2769.jpg?hmac=vcInmowFvPCyKGtV7Vfh7zWcA_Z0kStrPDW3ppP0iGI" alt="">
                </div>
                <div class="photo-grid-item">
                    <img src="https://i.picsum.photos/id/0/5000/3333.jpg?hmac=_j6ghY5fCfSD6tvtcV74zXivkJSPIfR9B8w34XeQmvU" alt="">
                </div>
            </div>
        </div>
    </div>