<!-- <h1>Name: {{name}}</h1>
<div>
    <input type="text" [(ngModel)]="name">
</div>  -->

<!-- <app-header></app-header>
<app-banner></app-banner>
<app-gallery></app-gallery>
<app-showcase></app-showcase>
<app-pbb></app-pbb>  -->

<!-- <app-todo></app-todo> -->

<!-- <app-pemesanan></app-pemesanan> -->

<!-- <div class="container">
    <button>Get Products</button>
</div>
<div class="container">
    <ul>
        <li *ngFor="let p of products">{{p.url}}</li>
    </ul>
</div> -->

<div class="container">
    <ul>
        <li *ngFor="let post of posts">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </li>
    </ul>
</div> 