<div class="bgpicture">
    <div class="containeratas">
        <h1>Hi, my name is Jett Enrico Chandra</h1>
        <p>I am a fresh graduated Universitas Tarumanagara Student, have an experience working as an IT Support 
            at PT. Sinergi Global Servis, while worked there i've made an android application for my Thesis 
            as an IT Bachelor, using Dart Language and Flutter as my Android Framework, now i've got an opportunities 
            working at BCA Finance as an Internet Technology Development Program, hoping that will got new experience 
            to achieve my dream to build an Startup Company.
        </p>
        <a href="./test.html"><button> Contact Me</button></a>
    </div>
</div>
